<plugin name='grails-melody' version='1.18' grailsVersion='2.1.1 &gt; *'>
  <author>Liu Chao</author>
  <authorEmail>liuchao@goal98.com</authorEmail>
  <title>Grails Java Melody Plugin</title>
  <description>\
Integrate Java Melody Monitor into grails application.
</description>
  <documentation>http://grails.org/GrailsMelody+Plugin</documentation>
  <type>GrailsMelodyGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='commons-codec' name='commons-codec' version='1.5' />
      <dependency group='net.bull.javamelody' name='javamelody-core' version='1.41.0' />
      <dependency group='org.jrobin' name='jrobin' version='1.5.9' />
      <dependency group='commons-lang' name='commons-lang' version='2.6' />
      <dependency group='commons-beanutils' name='commons-beanutils' version='1.8.3' />
      <dependency group='com.lowagie' name='itext' version='2.1.7' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>