<plugin name='grails-melody' version='0.6' grailsVersion='1.2.4 &gt; *'>
  <author>Liu Chao</author>
  <authorEmail>liuchao@goal98.com</authorEmail>
  <title>Grails Java Melody Plugin</title>
  <description>\
Integrate Java Melody Monitor into grails application.
</description>
  <documentation>http://grails.org/GrailsMelody+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>